<ion-view id="seller-list" view-title="外卖">
  <yi-sub-menu></yi-sub-menu>
  <ion-content class="has-subheader">
    <ul class="list">
      <li class="item item-thumbnail-left">
        <img src="img/seller-list/list-one.png">

        <h2>必胜客欢乐餐厅</h2>

        <div>
          <img src="img/seller-list/star.png">
          <img src="img/seller-list/star.png">
          <img src="img/seller-list/star.png">
          <img src="img/seller-list/star.png">
          <img src="img/seller-list/gray-start.png">
          <span>月售393份</span>
        </div>
        <P><span>起送￥20</span><span style="margin-left: 9px;}">配送￥8</span><span>平均1小时</span></P>
      </li>
      <li class="item item-thumbnail-left">
        <img src="img/seller-list/list-one.png">

        <h2>必胜客欢乐餐厅</h2>

        <div>
          <img src="img/seller-list/star.png">
          <img src="img/seller-list/star.png">
          <img src="img/seller-list/star.png">
          <img src="img/seller-list/star.png">
          <img src="img/seller-list/gray-start.png">
          <span>月售393份</span>
        </div>
        <P><span>起送￥20</span><span style="margin-left: 9px;}">配送￥8</span><span>平均1小时</span></P>
      </li>
      <li class="item item-thumbnail-left">
        <img src="img/seller-list/list-one.png">

        <h2>必胜客欢乐餐厅</h2>

        <div>
          <img src="img/seller-list/star.png">
          <img src="img/seller-list/star.png">
          <img src="img/seller-list/star.png">
          <img src="img/seller-list/star.png">
          <img src="img/seller-list/gray-start.png">
          <span>月售393份</span>
        </div>
        <P><span>起送￥20</span><span style="margin-left: 9px;}">配送￥8</span><span>平均1小时</span></P>
      </li>
      <li class="item item-thumbnail-left">
        <img src="img/seller-list/list-one.png">

        <h2>必胜客欢乐餐厅</h2>

        <div>
          <img src="img/seller-list/star.png">
          <img src="img/seller-list/star.png">
          <img src="img/seller-list/star.png">
          <img src="img/seller-list/star.png">
          <img src="img/seller-list/gray-start.png">
          <span>月售393份</span>
        </div>
        <P><span>起送￥20</span><span style="margin-left: 9px;}">配送￥8</span><span>平均1小时</span></P>
      </li>
      <li class="item item-thumbnail-left">
        <img src="img/seller-list/list-one.png">

        <h2>必胜客欢乐餐厅</h2>

        <div>
          <img src="img/seller-list/star.png">
          <img src="img/seller-list/star.png">
          <img src="img/seller-list/star.png">
          <img src="img/seller-list/star.png">
          <img src="img/seller-list/gray-start.png">
          <span>月售393份</span>
        </div>
        <P><span>起送￥20</span><span style="margin-left: 9px;}">配送￥8</span><span>平均1小时</span></P>
      </li>
      <li class="item item-thumbnail-left">
        <img src="img/seller-list/list-one.png">

        <h2>必胜客欢乐餐厅</h2>

        <div>
          <img src="img/seller-list/star.png">
          <img src="img/seller-list/star.png">
          <img src="img/seller-list/star.png">
          <img src="img/seller-list/star.png">
          <img src="img/seller-list/gray-start.png">
          <span>月售393份</span>
        </div>
        <P><span>起送￥20</span><span style="margin-left: 9px;}">配送￥8</span><span>平均1小时</span></P>
      </li>
      <li class="item item-thumbnail-left">
        <img src="img/seller-list/list-two.png">

        <h2>爱心便当</h2>

        <div>
          <img src="img/seller-list/star.png">
          <img src="img/seller-list/star.png">
          <img src="img/seller-list/star.png">
          <img src="img/seller-list/star.png">
          <img src="img/seller-list/gray-start.png">
          <span>月售393份</span>
        </div>
        <P><span>起送￥20</span><span style="margin-left: 9px;}">配送￥8</span><span>平均1小时</span></P>
      </li>
      <li class="item item-thumbnail-left">
        <img src="img/seller-list/list-one.png">

        <h2>必胜客欢乐餐厅</h2>

        <div>
          <img src="img/seller-list/star.png">
          <img src="img/seller-list/star.png">
          <img src="img/seller-list/star.png">
          <img src="img/seller-list/star.png">
          <img src="img/seller-list/gray-start.png">
          <span>月售393份</span>
        </div>
        <P><span>起送￥20</span><span style="margin-left: 9px;}">配送￥8</span><span>平均1小时</span></P>
      </li>
      <li class="item item-thumbnail-left">
        <img src="img/seller-list/list-two.png">

        <h2>爱心便当</h2>

        <div>
          <img src="img/seller-list/star.png">
          <img src="img/seller-list/star.png">
          <img src="img/seller-list/star.png">
          <img src="img/seller-list/star.png">
          <img src="img/seller-list/gray-start.png">
          <span>月售393份</span>
        </div>
        <P><span>起送￥20</span><span style="margin-left: 9px;}">配送￥8</span><span>平均1小时</span></P>
      </li>
      <li class="item item-thumbnail-left">
        <img src="img/seller-list/list-one.png">

        <h2>必胜客欢乐餐厅</h2>

        <div>
          <img src="img/seller-list/star.png">
          <img src="img/seller-list/star.png">
          <img src="img/seller-list/star.png">
          <img src="img/seller-list/star.png">
          <img src="img/seller-list/gray-start.png">
          <span>月售393份</span>
        </div>
        <P><span>起送￥20</span><span style="margin-left: 9px;}">配送￥8</span><span>平均1小时</span></P>
      </li>
    </ul>
  </ion-content>
</ion-view>

