/*外卖商家列表*/
#seller-list .bar .button.button-clear .icon:before, .bar .button.button-clear.icon:before, .bar .button.button-clear.icon-left:before, .bar .button.button-clear.icon-right:before {
  font-size: 10px;
}

#seller-list .scroll-content {
  background-color: #EEEEEE;
}

#seller-list a {
  overflow: initial;
}

#seller-list .button-bar {
  background-color: white;
  text-align: center;
}

#seller-list .button-bar a {
  font-size: 14px;
  line-height: 36px;
  width: 90px;
}

#seller-list .button-bar div {
  width: 33%;
  height: 41px;
}

#seller-list .list li {
  height: 78px;
  background-color: white;
  margin-top: 7px;
  min-height: 0;
}

#seller-list .list li img {
  width: 87px;
  height: 53px;
  max-width: 100px;
}

#seller-list .list li h2 {
  margin-top: 0px;
  margin-left: 6px;
  margin-bottom: 0px;
  font-weight: 600;
  letter-spacing: 1px;
  color: black;
}

#seller-list .list li div {
  margin-left: 6px;
  margin-top: 2px;
}

#seller-list .list li div span {
  font-size: 12px;
  color: #969595;
  margin-left: 5px;
}

#seller-list .list li p {
  font-size: 0.8em;
  margin-top: 2px;
  color: #545454;
}

#seller-list .list div img {
  width: 8px;
  height: 7px;
}

#seller-list .list p span {
  margin-left: 6px;
}
